<nav class="">
  <div class="menu">
    <a href="/">
      <img src="/assets/img/cat.png" alt="" />
    </a>

    <ul class="content-navbar">
      <li class="nav-item">
        <h1>Bem vindo(a)</h1>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#login"
        >
          {{messages.login}}
        </button>
      </li>
    </ul>
  </div>
</nav>